.full-scrin {
   max-width: 100%;
   height: 100%;
   padding: 10px;
}

.full-content {
   display: flex;
   width: 100%;
   height: 100%;
   align-items: flex-start;
   justify-content: space-between;
   padding: 15px;
}

.content {
   font-style: italic;
   font-size: 30px;
   color: teal;
   width: 15%;
   padding: 5px;
   display: flex;
   align-items: flex-start;
   justify-content: center;
}

.text {
   width: 70%;
   height: 100%;
   display: flex;
   justify-content: left;
   padding: 5px 25px;
   overflow: auto;
}

.close-letter {
   width: 30px;
   height: 30px;
   border: 1px solid teal;
   border-radius: 50%;
   color: teal;
   background-color: rgba(0, 128, 128, 0.15);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 22px;
   margin-left: 25px;
}

.close-letter:hover {
   color: white;
   background: rgba(0, 128, 128, 0.205);
   border: 1px solid rgb(0, 128, 128);
}