.value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 12px;
  position: relative;
  height: 40px;
}

.value:hover {
  background-color: rgba(0, 128, 128, 0.1);
}

.content-letter {
  width: 15%;
  font-size: 26px;
  color: teal;
  font-style: italic;
  height: 100%;
}

.content-letter_text {
  font-size: 26px;
  color: teal;
  font-style: italic;
  width: 70%;
  overflow: hidden;
  height: 100%;
  flex-wrap: wrap;
  padding: 0 5px;
}

.chect {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: teal;
  position: absolute;
  left: 1px;
  top: 37%;

}