.value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 12px;
  position: relative;
  height: 40px;
  margin: 2.5px 0;
}

.value:hover {
  background-color: rgba(0, 128, 128, 0.1);
}

.content-letter {
  width: 12.5%;
  font-size: 26px;
  color: teal;
  font-style: italic;
  height: 100%;
}

.content-letter_text {
  font-size: 26px;
  color: teal;
  font-style: italic;
  width: 55%;
  overflow: hidden;
  height: 100%;
  flex-wrap: wrap;
  padding: 0 5px;
}

.look {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chect {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: teal;
}

.delite-container {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delite-leter {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 50%;
  color: teal;
}

.delite-leter:hover {
  color: rgba(0, 128, 128, 0.75);
  background-color: rgba(128, 129, 129, 0.25);
}

.check-box {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check {
  width: 24px;
  height: 24px;
  padding: 10px;
}

.highlight {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: teal;
}

.flag-icon:hover {
  background-color: rgba(128, 128, 128, 0.25);
  color: rgba(0, 128, 128, 0.75);
}