.header {
    max-width: 100%;
    min-height: 50px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 128, 128, 0.15);
    position: relative;
}

.logo {
    width: 200px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    cursor: default;
}

.btn-control {
    width: 120px;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid teal;
    margin-right: 25px;
    border-radius: 12px;
    font-size: 20px;

    &:hover {
        border: 1px solid black;
        color: white;
        background-color: rgba(0, 128, 128, 0.75);
    }
}

.my-menu-enter {
    opacity: 0;
}

.my-menu-enter-active {
    opacity: 1;
    transition: opacity 2000ms;
}

.my-menu-exit {
    opacity: 1;
    transition: opacity 2000ms;
}

.my-menu-exit-active {
    opacity: 0;
    transition: opacity 2000ms;
}