.App {
    max-width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    background-color: var(--background-color) !important;
    color: var(--color) !important;
    transition: background-color 1s linear, color 2s linear;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--color) !important;
    transition: color 1s linear;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: var(--color);
    background-color: var(----button-background-color);
    cursor: pointer;
    transition: color 1s, background-color 1s;
}

input {
    background-color: var(--input-background-color);
    transition: all 1s ease 0;

    &::placeholder {
        border-color: var(--button-border-color) !important;
        color: var(--color) !important;
        transition: border-color 1s, color 1s;
    }
}

.btn-control {
    color: var(--color);
    transition: color 1s linear;
}

.setting-header {
    background-color: var(--background-user);
    transition: background-color 1s linear;
}

select {
    background-color: var(--select-background) !important;
    transition: background-color 3s linear;
}

.myModalContent {
    background: var(--modal-background) !important;
    color: var(--color) !important;
    transition: color 1s linear;
}

.btn-write {
    background-color: var(--write-bg-color);

    &:hover {
        background-color: var(--write-bg-color-hover);
    }
}

html[data-theme='dark'] {
    --button-text-color: #ffffff;
    --button-background-color: rgba(128, 128, 128, 0.75);
    --button-border-color: white;
    --color: rgba(252, 251, 251, 0.75);
    --input-text-color: #ffffff;
    --input-placeholder-text-color: #dddddd;
    --input-background-color: #919191;
    --input-border-color: #ba8fc2;
    --background-user: #58877f;
    --modal-background: black;

    --write-bg-color: #58877f;
    --write-bg-color-hover: #52807952;

    --select-background: gray;
    --background-color: #332a24;
    --icon-color: #ba8fc2;
}

html[data-theme='light'] {
    --button-text-color: #252525;
    --button-background-color: rgba(128, 128, 128, 0.75);
    --button-border-color: teal;
    --color: teal;
    --background-user: #ace0d7;
    --select-background: rgba(0, 128, 128, 0.25);

    --write-bg-color: #324d4952;
    --write-bg-color-hover: #8ca29f52;

    --input-text-color: #252525;
    --input-placeholder-text-color: #a7a7a7;
    --input-background-color: #ffffff;
    --input-border-color: #4e005c;

    --background-color: white;
    --icon-color: #4e005c;
}