.value {
display: flex;
align-items: center;
justify-content: space-between;
padding: 5px 10px;
border-radius: 8px;
}
.value:hover {
  background-color: rgba(0, 128, 128,0.1);
}
.content-letter {
    width: 15%;
    font-size: 18px;
    color: teal;
    font-style: italic;
}
.content-letter_text{
    font-size: 19px;
    color: teal;
    font-style: italic;
    width: 70%;
    overflow: hidden;
    height: 25px;
    flex-wrap: wrap;
    padding: 0 5px;
}